@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('https://fonts.cdnfonts.com/css/muli');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply scroll-smooth;
}

body {
    font-family: 'Muli', sans-serif;
    @apply text-[#6D7A8C] leading-7 max-w-full;
}

header, blockquote, input[type="submit"] {
    font-family: 'Nunito', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
    @apply font-extrabold text-[#0C121D] text-3xl leading-10;
}

h5 {
    @apply text-[20px] leading-[30px] tracking-normal;
}

p {
    @apply mb-5;
}

img {
    @apply align-middle;
}

.sticky-header {
    @apply fixed top-0 bg-white w-full text-black z-50 shadow-[0_13px_25px_-12px_rgba(0,0,0,0.25)] h-24;
}

.service:hover .bottom-link {
    @apply bg-[#0C121D];
}

button, input, optgroup, select, textarea {
    font: inherit;
    line-height: inherit;
    @apply m-0;
}

.link {
    @apply text-[#0C121D] underline underline-offset-4 duration-500;
}

.text-dark {
    @apply text-[#0C121D];
}

.bg-dark {
    @apply bg-[#0C121D];
}

.text-primary {
    @apply text-[#0AADEB];
}

.bg-primary {
    @apply bg-[#0AADEB];
}

.text-6xxl {
    @apply text-[42px] leading-[48px] mb-4;
}

.leading-14 {
    @apply leading-[56px];
}

.section {
    @apply pt-24 pb-20;
}

.subtitle {
    @apply uppercase text-sm font-bold tracking-[3px] text-[#B0B6BF] mb-2.5;
}

.selected-primary {
    @apply text-[#0AADEB] not-italic;
}

.selected-dark {
    @apply text-[#0C121D] not-italic;
}

.font-nunito-sans {
    font-family: Nunito, sans-serif;
}

.footer-header {
    @apply mb-9 text-lg border-b border-[#0000001a] pb-2.5 leading-7 uppercase font-extrabold tracking-wide text-dark relative;

    &::after {
        @apply content-[''] absolute w-12 h-0.5 -bottom-0.5 left-0 z-10 bg-[#0AADEB];
    }
}

.footer-social {
    @apply size-12 border-2 border-[#0C121D] leading-[48px] inline-block rounded-md text-center duration-500;

    &:hover {
        @apply text-white bg-[#0AADEB] border-[#0AADEB];
    }
}